AI_Doctor_Appointment_Scheduling_Agent_Sanitized.json
{
  "name": "Sheduling Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2272,
        1952
      ],
      "id": "9060ef7b-2b03-4f02-b94e-3e50d866d8d8",
      "name": "book appointment",
      "webhookId": "GENERATED_ON_IMPORT"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ty",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2288,
        1456
      ],
      "id": "fafb6484-9f0d-49aa-9ac3-b3f8e9719776",
      "name": "check",
      "webhookId": "GENERATED_ON_IMPORT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Preferred time : {{ $json.preferred_time }}\nPreferred date : {{ $json.preferred_date }}",
        "options": {
          "systemMessage": "=You are a polite and professional AI receptionist for a  clinic   \nYour job is to check appointment availability \n\n# Tools\ncheck_availibility  \n\n# Rules\n1. Always check the doctor's appointment availability before creating a new booking.  \n2. If the requested appointment slot is unavailable, find the next 3 closest available times and reply naturally:  \n   \u201cThe requested time is not available, but here are the nearest available options.\u201d  \n\n4. The current date is: **{{ $now }}**. Always refer to this date when creating or checking appointments.  \n5. Never use past dates or incorrect years \u2014 always use the real current date and time for reference.  \n6. Keep responses short, polite, and natural, like a real receptionist.  \n7. Never mention that you are an AI or that you are using tools \u2014 speak as if you are part of the clinic staff."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2736,
        1456
      ],
      "id": "a85d17f7-b9cd-4c2f-b315-549ec8a3328d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2736,
        1680
      ],
      "id": "fdeac5fd-463c-4afc-af1d-5bfb75939b7c",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.body?.message?.toolCallList?.[0];\n\nlet preferred_date = toolCall?.function?.arguments?.preferred_date || null;\nlet preferred_time = toolCall?.function?.arguments?.preferred_time || null;\n\n// Add 5 hours if both date and time exist\nif (preferred_date && preferred_time) {\n  let [hours, minutes] = preferred_time.split(\":\").map(Number);\n\n  hours += 5;\n\n  // Handle day rollover\n  if (hours >= 24) {\n    hours -= 24;\n\n    const d = new Date(preferred_date);\n    d.setDate(d.getDate() + 1);\n    preferred_date = d.toISOString().split(\"T\")[0];\n  }\n\n  preferred_time =\n    String(hours).padStart(2, \"0\") +\n    \":\" +\n    String(minutes).padStart(2, \"0\");\n}\n\nreturn [\n  {\n    json: {\n      preferred_date,\n      preferred_time,\n      tool_name: toolCall?.function?.name || null,\n      tool_call_id: toolCall?.id || null,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1456
      ],
      "id": "24f93f2a-fbed-4d09-becc-0811bf35b0cd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('check').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"{{ $json.output.replace(/'/g, '\\\\\\\"').replace(/\\n/g, ' ') || '' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3088,
        1456
      ],
      "id": "41fb3b2d-098c-4d0b-8f8c-dc1b2f0a2f41",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=full_name : {{ $json.full_name }}\ncontact_number : {{ $json.contact_number }}\npreferred_date : {{ $json.preferred_date }}\npreferred_time : {{ $json.preferred_time }}",
        "options": {
          "systemMessage": "=You are a polite and professional AI receptionist for a clinic.\n\nYour job is to book appointments using the create_event tool and respond to patients naturally.\n\n---\n\n# \ud83d\udee0 TOOL USAGE RULES\n- Use create_event tool to book appointments.\n- Always pass appointment_datetime exactly as provided (do not modify it).\n- Never change or convert time values.\n\n---\n\n# \u23f0 TIME DISPLAY RULE (VERY IMPORTANT)\nWhen responding to the user:\n\n- Convert 24-hour time into 12-hour format with AM/PM\n- Example conversions:\n  - 15:00 \u2192 3pm\n  - 14:00 \u2192 2pm\n  - 09:00 \u2192 9am\n  - 12:00 \u2192 12pm\n\n- Always remove leading zeros\n- Use lowercase \"am/pm\" (not AM/PM)\n\n---\n\n# \ud83d\udcac RESPONSE FORMAT (MANDATORY)\n\nAfter successful booking, ALWAYS respond exactly in this style:\n\n\"Your appointment has been booked successfully for {Month Day, Year}, at {12-hour time}. If you have any further questions, feel free to ask!\"\n\n---\n\n# \ud83d\udcc5 DATE FORMAT RULE\n- Always display date in this format:\n  June 11, 2026 (Month name, day, year)\n\n---\n\n# \ud83d\udea8 IMPORTANT RULES\n- Do NOT show 24-hour time in responses\n- Do NOT mention system time or timezone\n- Do NOT show ISO format\n- Do NOT say \"15:00\" in final response\n- Be natural, like a real receptionist\n\n---\n\n# \ud83d\udccc CURRENT DATE REFERENCE\n{{ $now.setZone(\"Asia/Karachi\").toFormat(\"yyyy-MM-dd HH:mm\") }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2720,
        1952
      ],
      "id": "f1f19232-b084-4dcd-a1ba-a42cdd87e6a5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.body?.message?.toolCallList?.[0];\nconst args = toolCall?.function?.arguments || {};\n\nconst full_name = args.full_name || \"\";\nconst contact_number = args.contact_number || \"\";\n\nlet date = args.preferred_date;   // e.g. 2026-06-11\nlet time = args.preferred_time;   // e.g. 15:00\n\n// Split hours and minutes\nlet [hours, minutes] = time.split(\":\").map(Number);\n\n// Add 5 hours\nhours += 5;\n\n// Handle day rollover\nif (hours >= 24) {\n  hours -= 24;\n\n  // Increment date by one day\n  const d = new Date(date);\n  d.setDate(d.getDate() + 1);\n  date = d.toISOString().split(\"T\")[0];\n}\n\n// Format time\nconst updatedTime =\n  String(hours).padStart(2, \"0\") +\n  \":\" +\n  String(minutes).padStart(2, \"0\");\n\n// Build appointment datetime\nconst appointment_datetime = `${date}T${updatedTime}:00+05:00`;\n\nreturn [\n  {\n    json: {\n      full_name,\n      contact_number,\n\n      preferred_date: date,\n      preferred_time: updatedTime,\n\n      appointment_datetime,\n\n      tool_call_id: toolCall?.id || null,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        1952
      ],
      "id": "5fb0cc46-754f-45f4-8202-8478c868ec89",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2720,
        2112
      ],
      "id": "613fc748-8dcc-40dc-bd53-e57351084abf",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "appointment"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2928,
        1664
      ],
      "id": "3ef9a73c-d54e-49f6-ac9d-351dfbd3010b",
      "name": "check_availability",
      "credentials": {}
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "appointment"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "=Here is the info of customer:\n\ncustomer number : {{ $json.contact_number }}\n\ncustomer name : {{ $json.full_name }}\n\n\n",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2944,
        2096
      ],
      "id": "3f09ee74-067e-4346-b6c5-741071a1dfb4",
      "name": "create_event",
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('book appointment').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": \"{{ $json.output.replace(/'/g, '\\\\\\\"').replace(/\\n/g, ' ') || '' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3072,
        1952
      ],
      "id": "35562ea3-0ec6-472b-b920-430492299858",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2352,
        2416
      ],
      "id": "57228744-e766-4558-b005-277c0c9695ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "appointment"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2576,
        2416
      ],
      "id": "b56aff5c-44db-4cce-b19a-b0ebe2ffb7a6",
      "name": "Get many events",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const description = $json.description || \"\";\n\n// Extract using regex\nconst nameMatch = description.match(/Name:\\s*(.*)/i);\nconst contactMatch = description.match(/Contact:\\s*(.*)/i);\n\nconst customer_name = nameMatch ? nameMatch[1].trim() : null;\nconst customer_number = contactMatch ? contactMatch[1].trim() : null;\n\nreturn [\n  {\n    json: {\n      customer_name,\n      customer_number\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        2416
      ],
      "id": "4976d4f7-7f20-4403-b34e-eddd3f88158d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_VAPI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"assistantId\": \"YOUR_ASSISTANT_ID\",\n  \"phoneNumberId\": \"YOUR_PHONE_NUMBER_ID\",\n  \"customer\": {\n    \"number\": \"{{ $json.customer_name }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"customerName\": \"{{ $json.customer_name }}\",\n      \"appointmentTime\": \"{{ $('Get many events').item.json.end.dateTime }}\",\n     \"appointmentDate\": \"{{ new Date($('Get many events').item.json.end.dateTime).toLocaleDateString('en-US', { dateStyle: 'full', timeZone: $ ('Get many events').item.json.end.timeZone }) }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3024,
        2416
      ],
      "id": "e0a01358-6cdd-40f0-8c20-ea476ca46c05",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Appointment Booking:",
        "height": 384,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        1872
      ],
      "id": "0eebdf98-3576-4023-825e-85de58ca68de",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Outbound Call :",
        "height": 320,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        2304
      ],
      "id": "65f7aa67-7c42-4b93-baa2-342870a7a517",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Availability Checking",
        "height": 432,
        "width": 1056,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        1392
      ],
      "id": "017036d0-5dd8-4cff-b0cb-dee2e2fb410f",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "check": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "book appointment": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3705a805-a3c3-458e-997b-4c256cdd3c53",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "id": "fdUo8UidESis2tGZ",
  "tags": []
}
